#body > *{
  text-overflow: ellipsis;
  white-space: nowrap;
  height: inherit;
  overflow: hidden;
  font-family: 'Economica', Courier, monospace;
}

code #terminal {
  font-family: 'VT323', monospace;
  color: lime;
  background-color: #253342;
  display: block;
}
pre code.hljs {
  font-family: 'VT323';
  font-size: 1.4em;
  /*background-color: #253342;*/
  display: inline-block;
  color: white;
  max-width: 100%;
}
pre code.hljs * {
  font-size: 1em;
  font-family: 'VT323';
}

#blogPreview {
  padding: 2%;
  & a {
    text-decoration: none;
    outline-color: transparent;
    color: black;
  }
}

#my-container {
  margin-left: 5%;
  margin-right: 5%;
  & p, li, tb {
    font-family: 'Economica', Courier, monospace;
  };
  & h1, h2, h3, h4, h5 {
    font-family: 'The Meerkats Font';
    font-synthesis: weight, style;
    & * {
      font-family: inherit;
    }
  };
  & a {
    text-decoration: none;
    outline-color: transparent;
    color: black;
  }
  & #post img {
    max-width: 80%;
  }
}

#my-container ul li {
  padding-left: 2rem;
  background-image: url("static/img79.svg");
  background-position: 0 0;
  background-size: 2rem 2rem;
  background-repeat: no-repeat;

}
li::marker {
  color: #fff;
}
#blogPreview > #body {
  height: 12vh;
  overflow: clip;
  text-overflow: ellipsis;
  border-image-slice: 27 17 86 39;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 0 0 3vh 0;
  border-image-repeat: stretch stretch;
  border-image-source: url('static/dividing line.svg');
  border-style: solid;
}
@font-face {
    font-family: 'The Meerkats Font';
    src: local('The Meerkats Font Regular'), local('TheMeerkatsFontRegular'),
        url('static/subset-TheMeerkatsFontRegular.woff2') format('woff2'),
        url('static/subset-TheMeerkatsFontRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

table, th, td {
  border-bottom: 1px solid black;
  border-collapse: collapse;
}
