.ArtBoard {
  position: relative;
  width: 100%;
  background: url('static/art noticeboard.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 69.8%;
  display: grid;
  gap: 1%;
  grid-template-columns: repeat(auto-fill, minmax(1fr 1fr));
  grid-template-rows: masonry;
  padding-top: 24%;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 24%;
}

.heading {
  width: 100%;
  position: absolute;
  top: 4vw;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: gold;
  text-shadow: 1px 1px darkgoldenrod, 
  2px 2px darkgoldenrod, 
  3px 3px darkgoldenrod, 
  4px 4px darkgoldenrod;
  text-align: center;
}

.artImage {
  max-width: 98%;
  max-height: 98%;
}

.paper {
  border-top-right-radius: 3%;
  border-bottom-right-radius: 3%;
  padding: 1% 1% 1% 1%;
  background-color: white;
  /*border-top: 0.5ch solid #000000;
  border-right: 0.5ch solid #000000;
  border-bottom: 0.5ch solid #000000;
  border-left: 0.5ch solid #000000;*/
  display: inline-block;

}
.margin {
  margin: 0 auto;
  border-left: 30px solid white; 
  border-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI0MS44NnB4IiBoZWlnaHQ9IjUyLjMyNnB4IiB2aWV3Qm94PSIwIDAgNDEuODYgNTIuMzI2IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA0MS44NiA1Mi4zMjYiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0wLDB2MjUuMTYzaDcuMDk3YzAuNTAxLTQuOTg5LDQuNzEyLTguODg0LDkuODMzLTguODg0YzUuNDU4LDAsOS44ODQsNC40MjUsOS44ODQsOS44ODRzLTQuNDI1LDkuODg0LTkuODg0LDkuODg0Yy01LjEyMSwwLTkuMzMyLTMuODk1LTkuODMzLTguODg0SDB2MjUuMTYzaDQxLjg2VjBIMHoiLz48L3N2Zz4=) 5% 100% repeat;
  border-image-width: 0px 0px 0px 30px;

}

.item {
  text-decoration: none;
  height: fit-content;
  filter: drop-shadow( 1.5px  0px 0px black) 
          drop-shadow(-1.5px  0px 0px black)
          drop-shadow( 0px  1.5px 0px black) 
          drop-shadow( 0px -1.5px 0px black);
}